<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Candidate - Admin Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
</head>
<body>

<header class="header">
    <h2 class="logo">Digital Voting System</h2>
    <a href="{{ url_for('admin_logout') }}" class="logout-btn">Logout</a>
</header>

<main class="main-content">
    <div class="container">
        <h2>Create New Candidate</h2>

       
        <form method="POST" enctype="multipart/form-data">
            <input type="text" name="name" placeholder="Candidate Name" required autofocus> 
            <textarea rows="6" name="description" placeholder="Description" required></textarea>
            <select name="department" required>
                <option value="">Select Department</option>
                <option value="BSCS">BSCS</option>
                <option value="BSIT">BSIT</option>
            </select>
            <h4>Choose Logo</h4>
            <input type="file" name="image" accept="image/*" placeholder="Choose Logo" required>
            
            <div style="display:flex; gap:12px; margin-top:10px;">
    <button type="submit" class="primary-btn" style="width:100%;">Create</button>
    <a href="{{ url_for('admin_dashboard') }}" style="flex:1;">
        <button type="button" class="primary-btn secondary-btn">
            Cancel
        </button>
    </a>
</div>

        </form>

        <br>

        

    </div>
</main>

<footer class="footer">
    <p>&copy; 2026 Digital Voting System | Staff Panel | Designed by <span style="color: #6366f1;">Nauman Obaid</span> & <span style="color: #6366f1;">Usam Sajjad</span></p>
</footer>

</body>
</html>
