<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panels</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/panel.css">
</head>
<body>

    <div class="main-wrapper">
        <h1>Digital Voting System</h1>

        <div class="container">
            <h3>Select Portal</h3>

            <a href="/admin-login">
                <button class="staff-btn">Staff Portal</button>
            </a>

            <a href="/login">
                <button class="voter-btn">Voter Portal</button>
            </a>
            <br>

             <p style="color: white; margin-top: 40px;">Designed by <span style="color: #6366f1;">Nauman Obaid</span> & <span style="color: #6366f1;">Usam Sajjad</span></p>
        </div>
       
    </div>

</body>
</html>