<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Digital Voting System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header class="header">
    <h2 class="logo">Digital Voting System</h2>
    <a href="{{ url_for('logout') }}" class="logout-btn">Logout</a>
</header>

<main class="main-content">
    <div class="container">
        <h1>Welcome, {{ username }} </h1>
        <p>Manage your votes and candidates securely.</p>
        <a href="{{ url_for('dashboard') }}">
            <button class="primary-btn">Get Started</button>
        </a>
    </div>
</main>

<footer class="footer">
    <p>&copy; 2026 Digital Voting System | Voter Panel | Designed by <span style="color: #6366f1;">Nauman Obaid</span> & <span style="color: #6366f1;">Usam Sajjad</span></p>
    
</footer>

</body>
</html>
